$color_alt_background: #ededee;
$color_alt_background2: #dce8e3;
$color_highlight_background: #edebca;
$color_strong_background: #b8b308;
$color_strong2_background: #72a492;
$color_strong: #a49a00;
$color_main: #212121;
$color_border: #d5d6d5;

$width_page: 960px;
$width_map: 70%;
$height_map: 600px;
$map_percentage: 80;

html {
  margin: 0;
  padding: 0;
}

body {
  width: $width_page;
  margin: 0 auto;
  padding: 0;
}

#opencensus-wrapper {
  position: relative;
  padding: 0 17px;
  color: $color_main;

  * {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  form.search {
    margin: 0;
    padding: .5em;
    text-transform: uppercase;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      width: 20em;
    }

    input.text {
      border: 2px solid $color_strong;
      border-right: none;
      padding-right: 20px;
      margin: 0;
    }

    input.submit {
      position: absolute;
      right: 2px;
      bottom: 2px;
      border: none;
      width: 1px;
      padding-left: 20%;
      background: $color_strong_background;
    }
  }

  .nav {
    background: $color_alt_background;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
    }

    li {
      margin: 0;
      padding: .7em .5em;
      display: inline-block;
      vertical-align: top;
      height: 1.55em;
      line-height: 1;
      cursor: pointer;

      &.selected {
        background: $color_highlight_background;
      }

      a {
        font-size: .9em;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_main;
      }

      span {
        display: block;
        font-size: .65em;
      }
    }
  }

  .map-and-info {
    position: relative;
    height: $height_map;

    .map {
      height: $height_map;
      width: $width_map;
    }

    .region-info {
      position: absolute;
      width: (100% - $width_map);
      height: $height_map;
      background: $color_alt_background;
      padding: .25em;
      right: 0;
      top: 0;

      h2 {
        margin: 0 0 .25em;
        padding: 0;
        font-size: 1em;
      }

      table {
        border-collapse: collapse;
      }

      th {
        font-size: .85em;
        vertical-align: top;
      }

      tbody th, thead.sub th {
        text-align: left;
      }

      td {
        font-size: .7em;
        vertical-align: top;

        span.value {
          font-size: 1.25em;
          color: $color_strong;
        }
      }
    }
  }

  .legend {
    background: $color_alt_background2;
    height: 2em;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
    }

    li {
      display: inline;
      padding: 0 .5em;
      font-size: .9em;
      line-height: 1.8em;

      .swatch {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: .3em;
        border: 2px solid white;
        vertical-align: middle;
      }
    }
  }
}
