#opencensus-wrapper
  %form.location
    %p
      %label{:for => 'opencensus-address-input'} Location
      %input.text#opencensus-address-input{:type => 'text', :name => 'q'}
      %input.submit{:type => 'submit', :value => 'Go'}
    %div.status

  .nav
    %ul.indicators
      %li.pop.selected
        %a{:href => '#pop'} Population
        %span.unit shown in people per km²
      %li.dwe
        %a{:href => '#dwe'} Dwellings
      %li.gro
        %a{:href => '#gro'} Growth
        %span.unit shown in %
      %li.agemedian
        %a{:href => '#agemedian'} Age distribution
      %li.sexm
        %a{:href => '#sexm'} Sex distribution

  .map-and-info
    .map
    .region-info
      .compare-prompt
        %a{:href => '#'} Compare
      %table
        %thead.regions
          %tr
            %th.region
            %th.compare-region
        %thead.sub.pop
          %tr
            %th{:colspan => 2} Population
        %tbody.pop
          %tr
            %td.region
              %div.pop
                %span.pop.bar
                %span.pop.value
              %div.gro
                %span.gro.value<
                %span.unit> %
            %td.compare-region
              %div.pop
                %span.pop.bar
                %span.pop.value
              %div.gro
                %span.gro.value<
                %span.unit> %
        %thead.sub.dwe
          %tr
            %th{:colspan => 2} Dwellings
        %tbody.dwe
          %tr
            %td.region
              %div.dwe
                %span.dwe.bar
                %span.dwe.value
              %div.popdwe
                %span.popdwe.value
                %span.unit people per dwelling
            %td.compare-region
              %div.dwe
                %span.dwe.bar
                %span.dwe.value
              %div.popdwe
                %span.popdwe.value
                %span.unit people per dwelling
        %thead.sub.sexm
          %tr
            %th{:colspan => 2} Sex profile
        %tbody.sexm
          %tr.sexm
            %td.region
              %div.sexf
                %span.sexf.value<
                %span.unit> %
              %div.sexm
                %span.sexm.value<
                %span.unit> %
            %td.compare-region
              %div.sexf
                %span.sexf.value<
                %span.unit> %
              %div.sexm
                %span.sexm.value<
                %span.unit> %
        %thead.sub.ages
          %tr
            %th{:colspan => 2} Age profile
        %tbody.ages
          %tr.ages
            %td{:colspan => 2}
              %div.age-chart
        %tbody.links
          %tr
            %td.region
            %td.compare-region
  .legend
