#opencensus-wrapper
  /[if lt IE 9]
    %p.ie8-warning
      You are using Internet Explorer 8, but CensusFile is faster and better-looking in newer web browser. We recommend you download
      %a{:href => 'http://www.google.com/chrome'} Google Chrome
      or
      %a{:href => 'http://getfirefox.com'} Mozilla Firefox
      and then return to this page.

  .nav
    %ul.indicators
      %li.pop.selected
        %a{:href => '#pop'} Population
      %li.popdwe
        %a{:href => '#popdwe'} People per dwelling
      %li.gro
        %a{:href => '#gro'} Growth
      %li.agemedian
        %a{:href => '#agemedian'} Age distribution
      %li.sexm
        %a{:href => '#sexm'} Sex distribution

  %form.location
    %p.startup-content Enter an address to find census data around it:
    %p
      %label{:for => 'opencensus-address-input'} Location
      %input.text#opencensus-address-input{:type => 'text', :name => 'q', :placeholder => '99 Atlantic Ave., Toronto'}
      %input.submit{:type => 'submit', :value => 'Go'}
    %div.status
    %p.startup-content
      %a.skip{:href => '#'} or click here to enjoy the map

  .map-and-info
    .map
    .region-info
      .compare-prompt
        %a{:href => '#'}
          %span.click Click
          to compare
      %table
        %thead.regions
          %tr
            %th.region/
            %th.compare-region/
        %thead.sub.pop
          %tr
            %th.region Population
            %th.compare-region/
        %tbody.pop
          %tr
            %td.region
              %div.pop
                %span.pop.bar
                %span.pop.value
              %div.gro
                %span.gro.value<
                %span.unit> %
            %td.compare-region
              %div.pop
                %span.pop.bar
                %span.pop.value
              %div.gro
                %span.gro.value<
                %span.unit> %
        %thead.sub.dwe
          %tr
            %th.region Dwellings
            %th.compare-region/
        %tbody.dwe
          %tr
            %td.region
              %div.dwe
                %span.dwe.bar
                %span.dwe.value
              %div.popdwe
                %span.popdwe.bar
                %span.popdwe.value
                %span.unit people per dwelling
            %td.compare-region
              %div.dwe
                %span.dwe.bar
                %span.dwe.value
              %div.popdwe
                %span.popdwe.bar
                %span.popdwe.value
                %span.unit people per dwelling
        %thead.sub.sexm
          %tr
            %th.region Sexes
            %th.compare-region/
        %tbody.sexm
          %tr.sexm
            %td.region
              %div.sexf
                = image_tag('sexf-icon.png', :alt => 'Female')
                %span.sexf.value<
                %span.unit> %
              %div.sexm
                = image_tag('sexm-icon.png', :alt => 'Male')
                %span.sexm.value<
                %span.unit> %
            %td.compare-region
              %div.sexf
                = image_tag('sexf-icon.png', :alt => 'Female')
                %span.sexf.value<
                %span.unit> %
              %div.sexm
                = image_tag('sexm-icon.png', :alt => 'Male')
                %span.sexm.value<
                %span.unit> %
        %thead.sub.ages
          %tr
            %th.region Ages
            %th.compare-region/
        %tbody.ages
          %tr.ages
            %td.region
              %div.age-chart
            %td.compare-region
              %div.age-chart
        %tbody.links
          %tr
            %td.region
            %td.compare-region
  .legend
